[submodule "home/.zsh/libs/zshkit"]
	path = home/.zsh/libs/zshkit
	url = git://github.com/bkerley/zshkit.git
[submodule "home/.zsh/libs/zsh-git"]
	path = home/.zsh/libs/zsh-git
	url = git://github.com/jcorbin/zsh-git.git
[submodule "home/.emacs.d/vendor/color-theme-railscasts"]
	path = home/.emacs.d/vendor/color-theme-railscasts
	url = git://github.com/olegshaldybin/color-theme-railscasts.git
